Source: uemacs
Section: non-free/editors
Priority: optional
Maintainer: Rogério Brito <rbrito@gmail.com>
Build-Depends:
 debhelper-compat (= 13)
Standards-Version: 4.5.1
Homepage: https://github.com/torvalds/uemacs
Vcs-Browser: https://github.com/rbrito/pkg-uemacs
Vcs-Git: https://github.com/rbrito/pkg-uemacs.git
Rules-Requires-Root: no

Package: uemacs
Architecture: any
Depends:
 ${misc:Depends},
 ${shlibs:Depends}
Description: full screen editor based on MicroEMACS 3.9e
 uEmacs/PK 4.0 is an enhanced version of MicroEMACS 3.9e. Enhancements
 have been incorporated by Petri H. Kutvonen, University of Helsinki,
 Finland.
